/****** Variables and Resets ******/
:root {
    /** Colors **/
    --blackish-blue: 230 35% 7%;
    --light-blue: 231 77% 90%;
    --white: 0 0% 100%;
}

*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    overflow-x: hidden;
    min-height: 100svh;
    display: grid;
    grid-template-rows: min-content 1fr;
    background-color: hsl(var(--blackish-blue));
    background-repeat: no-repeat;
    background-size: cover;
    background-position: bottom center;
    color: hsl(var(--white));
    /* 177.778% */
}

img {
    display: block;
    max-inline-size: 100%;
    block-size: auto;
    font-style: italic;
}

/****** Grid Styles ******/

.grid-standard {
    display: grid;
    place-items: center;
    text-align: center;
    padding-inline: 2rem;

    >* {
        max-width: 55ch;
    }

    @media (min-width: 61em) {
        /** Desktop Grid **/
        column-gap: var(--container-gap, 2rem);
        grid-template-columns: minmax(5rem, 1fr) repeat(2, minmax(0, 40rem)) minmax(5rem, 1fr);

        >*:first-child {
            grid-column: 2;
        }

        >*:last-child {
            grid-column: 3;
        }
    }
}

/****** Global Navbar CSS ******/
header {
    /** Contains the entire navbar, logo+white line+nav elements **/
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-block: 2rem;

    & img {
        scale: 0.8;
        margin: 0 2rem;
    }

    @media (min-width: 48em) {

        /** White line for desktop screens **/
        &::before {
            content: "";
            display: block;
            position: relative;
            border-top: 1px solid hsl(var(--white)/ 0.25);
            height: 1px;
            width: 100%;
            margin-right: -2rem;
            order: 1;
            z-index: 1001;
        }
    }

    @media (min-width: 35em) and (max-width: 48em) {
        /** Tablet margins **/
        margin: 0;
    }
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    order: 2;

    & .navbar {
        --_top-bottom-padding: 2rem;
        /** variable called for padding and ".active" and hover effects **/
        z-index: 1000;
        display: flex;
        gap: 2rem;
        background-color: hsla(var(--white)/ 0.04);
        -webkit-backdrop-filter: blur(40px);
        backdrop-filter: blur(40px);
        padding-block: var(--_top-bottom-padding);
        padding-inline: clamp(0rem, 5vw, 7rem) clamp(0rem, 7vw, 10rem);

    }

    & li {
        list-style: none;
        text-transform: uppercase;
        height: 100%;
        border-bottom: 3px solid transparent;
        transition: border-bottom 0.2s ease-in-out;

        &[aria-selected="false"]::after {
            content: "";
            width: 100%;
            position: relative;
            transform: translate(0, calc(var(--_top-bottom-padding) + 3px));
            display: block;
            border-bottom: 3px solid transparent;
            transition: border-bottom 0.15s ease-out;
        }

        &[aria-selected="false"]:hover::after {
            border-bottom: 3px solid hsl(var(--white)/ 0.5);
        }

        &.active::after {
            content: "";
            width: 100%;
            position: relative;
            transform: translate(0, calc(var(--_top-bottom-padding) + 3px));
            display: block;
            border-bottom: 3px solid hsl(var(--white));
        }
    }

    & a {
        text-decoration: none;
        color: hsl(var(--white));
    }

    & span {
        font-weight: bold;
        margin-inline-end: 0.75rem;


    }

    @media (max-width: 35em) {

        /** For mobile screen **/
        & .navbar {
            flex-direction: column;
            position: fixed;
            /** calc for adding width to pad for bounce animation **/
            width: calc(100% + 4rem);
            inset: 0 0 0 30%;
            padding: min(30vh, 10rem) 2rem;
            gap: 0 1.5rem;
            transform: translateX(100%);
            /** bounce animation **/
            transition: transform 0.4s cubic-bezier(.86, 1.5, .45, .9);

            &[data-visible="true"] {
                transform: translateX(0);
            }
        }

        & li {
            border: none;
            height: 15%;

            &:hover::after {
                border: none;
            }

            &.active::after {
                border: none;
            }
        }
    }

    @media (min-width: 35em) and (max-width: 48em) {
        /** For tablet screen **/
        margin: 0;

        & span {
            display: none;
        }
    }
}

.mobile-nav-toggle {
    /** Only shows up for mobile **/
    display: none;

    @media (max-width: 35em) {
        display: block;
        z-index: 9999;
        position: absolute;
        background: url(Resources/icon-hamburger.svg) no-repeat center center;
        width: 1.75rem;
        aspect-ratio: 1;
        top: 2rem;
        right: 2rem;
        border: none;
    }

    &[aria-expanded="true"] {
        background: url(Resources/icon-close.svg) no-repeat center center;
    }
}

/****** Home Page CSS ******/
.home-body {
    background-image: url(Resources/homeImages/background-home-desktop.jpg);

    /** Home Desktop Grid Rules **/
    & .grid-standard {
        text-align: center;
        padding-bottom: max(50px, 12vh);
        align-items: end;

        @media (min-width: 61em) {
            &> :first-child {
                justify-self: start;
            }

            &> :last-child {
                justify-self: end;
            }
        }

        @media (min-width: 61em) {
            text-align: left;
        }
    }

    & header {
        &::before{
            animation: slide-in-left 0.9s cubic-bezier(0.230, 1.000, 0.320, 1.000) both;
        }
    }
        

    @media (min-width: 35em) and (max-width: 61em) {
        /** For tablet screen **/
        background-image: url(Resources/homeImages/background-home-tablet.jpg);

    }

    @media (max-width: 35em) {
        /** For mobile screen **/
        background-image: url(Resources/homeImages/background-home-mobile.jpg);

    }

    @media (min-width: 35em) {
        & .navbar {
            animation: slide-in-right 0.9s cubic-bezier(0.230, 1.000, 0.320, 1.000) both;
        }
    }
}

.home-btn {
    position: relative;
    display: inline-grid;
    place-items: center;
    border-radius: 50%;
    aspect-ratio: 1;
    padding: 0 2em;
    border-radius: 50%;
    text-decoration: none;
    color: hsl(var(--blackish-blue));
    background-color: hsl(var(--white));
    z-index: 1;
    font-family: "Bellefair";
    font-size: clamp(1.25rem, 0.9859rem + 1.1268vw, 2rem);
    font-weight: 400;

    &::after {
        content: "";
        position: absolute;
        inset: 0;
        border-radius: 50%;
        background-color: hsla(var(--white)/ 0.1);
        transition: opacity 0.5s, transform 750ms cubic-bezier(.8, .66, .38, .88);
    }

    &:hover::after,
    &:focus::after {
        opacity: 1;
        transform: scale(1.5);
    }
}

/****** Destination Page CSS ******/

.destination-body {
    background-image: url(Destination/images/background-destination-desktop.jpg);

    /** Destination Desktop Grid Rules **/
    & .grid-standard {
        margin-top: 2rem;
        --flow-space: 2rem;

        grid-template-areas:
            'title'
            'image'
            'tabs'
            'content';


        & img {
            grid-area: image;
            max-width: 60%;

            @media (min-width: 61em) {
                max-width: 100%;
            }
        }
    }

    @media (min-width: 61em) {
        & .grid-standard {
            margin-top: 0;
            justify-items: start;
            grid-template-areas:
                '. title title .'
                '. image tabs .'
                '. image content .';
        }
    }

    @media (max-width: 35em) {
        background-image: url(Destination/images/background-destination-mobile.jpg);
    }

    @media (min-width: 35em) and (max-width: 61em) {
        background-image: url(Destination/images/background-destination-tablet.jpg);
    }
}

.destination-heading {
    grid-area: title;


    & span {
        opacity: 0.25;
        font-weight: 700;
    }


    /* @media (min-width: 35em) {
        justify-self: start;
    } */
}

.destination-tabs {
    grid-area: tabs;

    display: flex;
    width: min(85%, 20rem);
    justify-content: space-between;
    margin-bottom: 3rem;


    & button {
        background-color: transparent;
        border: none;
        height: 100%;
        color: inherit;
        text-transform: uppercase;
        --_top-bottom-padding: 0.5rem;
        padding-block: var(--_top-bottom-padding);
        cursor: pointer;

        &[disabled="true"][aria-selected="false"] {
            cursor: progress;
            opacity: 0.6;
        }

        &[aria-selected="false"]::after {
            content: "";
            width: 100%;
            position: relative;
            transform: translate(0, calc(var(--_top-bottom-padding) + 3px));
            display: block;
            border-bottom: 3px solid transparent;
            transition: border-bottom 0.15s ease-out;
        }

        &[aria-selected="false"]:hover::after {
            border-bottom: 3px solid hsl(var(--white)/ 0.5);
        }

        &[aria-selected="true"]::after {
            content: "";
            width: 100%;
            position: relative;
            transform: translate(0, calc(var(--_top-bottom-padding) + 3px));
            display: block;
            border-bottom: 3px solid hsl(var(--white));
        }
    }

}

.destination-content {
    grid-area: content;

    >p {
        min-height: 15ch;
    }

    & .destination-sub-content {
        flex-direction: column;
        gap: 1rem;
        border-top: 1px solid hsla(var(--white)/ 0.1);
        padding-top: 2.5rem;
        margin-block: 2.5rem;

        & h3 {
            padding-bottom: 0.5rem;
        }

        @media (min-width: 35em) {
            flex-direction: row;
            justify-content: center;
            gap: 5rem;
        }
    }

    @media (min-width: 61em) {
        text-align: left;

        & .destination-sub-content {
            justify-content: start;
        }
    }

}

/****** Crew Page CSS ******/
.crew-body {
    background-image: url(Crew/images/background-crew-desktop.jpg);
    background-color: var(--blackish-blue);

    & .grid-standard {
        --flow-space: 1rem;
    }

    @media (max-width: 35em) {
        background-image: url(Crew/images/background-crew-mobile.jpg);

        & .grid-standard {
            grid-template-areas:
                'title'
                'image'
                'nav-dots'
                'content';
        }
    }

    @media (min-width: 35em) and (max-width: 61em) {
        background-image: url(Crew/images/background-crew-tablet.jpg);

        & .grid-standard {
            grid-template-areas:
                'title'
                'content'
                'nav-dots'
                'image';
        }
    }

    @media (min-width: 61em) {

        overflow-y: hidden;
        & .grid-standard {
            grid-template-areas:
                '. title image .'
                '. content image .'
                '. nav-dots image .';
        }
    }
}

.crew-heading {
    grid-area: title;
    justify-self: start;

    & span {
        opacity: 0.25;
        font-weight: 700;
        margin-right: 1rem;
    }

    @media (max-width: 35em) {
        justify-self: center;
    }
}

.crew-image {
    align-self: end;
    grid-area: image;
    place-items: center;
    display: inline-flex;
    justify-content: center;
    align-items: end;


    & img {
        max-width: min(100%, 60vw);
    }

    @media (max-width: 35em) {
        border-bottom: 1px solid hsla(var(--white)/ 0.1);
    }

}

.crew-info {
    grid-area: content;

    >h2 {
        color: hsl(var(--white)/ 0.5);
        margin-bottom: 1rem;
    }

    >h3 {
        margin-bottom: 1rem;
    }

    >p {
        min-height: 18ch;
    }

    @media (max-width: 35em) {
        padding-bottom: 4rem;
    }

    @media (min-width: 61em) {
        justify-self: start;
        text-align: start;
    }
}

.crew-nav-dots {
    grid-area: nav-dots;
    margin-top: 0;

    & button {
        background-color: hsl(var(--white)/ 0.1);
        height: 0.7rem;
        aspect-ratio: 1;
        border: none;
        border-radius: 50%;
        margin: 0.5rem;
        cursor: pointer;
        transition: background-color 0.2s;

        &:hover {
            background-color: hsl(var(--white)/ 0.5);
        }

        &[aria-selected="true"] {
            background-color: hsl(var(--white));
        }

        &:nth-child(1) {
            animation: bounce-in-fwd 1.1s both;
        }

        &:nth-child(2) {
            animation: bounce-in-fwd 1.1s both;
            animation-delay: 150ms;
        }
        
        &:nth-child(3) {
            animation: bounce-in-fwd 1.1s both;
            animation-delay: 300ms;
        }

        &:nth-child(4) {
            animation: bounce-in-fwd 1.1s both;
            animation-delay: 450ms;
        }

    }



    @media (min-width: 61em) {
        justify-self: start;
        text-align: start;
    }
}

/****** Technology Page CSS ******/
.technology-body {
    --content-padding: 2rem;

    background-image: url(Technology/images/background-technology-desktop.jpg);
    background-color: var(--blackish-blue);

    & .grid-standard {
        --flow-space: 1rem;
        padding-inline: 0;
    }

    @media (max-width: 35em) {
        background-image: url(Technology/images/background-technology-mobile.jpg);
    }

    @media (min-width: 35em) and (max-width: 61em) {
        background-image: url(Technology/images/background-technology-tablet.jpg);
    }

    @media (max-width: 35em) {
        background-image: url(Crew/images/background-crew-mobile.jpg);

        & .grid-standard {
            grid-template-areas:
                'title'
                'image'
                'tech-nav'
                'tech-title'
                'content';
        }
    }

    @media (min-width: 35em) and (max-width: 61em) {
        background-image: url(Crew/images/background-crew-tablet.jpg);

        & .grid-standard {
            grid-template-areas:
                'title'
                'image'
                'tech-nav'
                'tech-title'
                'content';
        }
    }

    @media (min-width: 61em) {
        & .grid-standard {
            grid-template-areas:
                '. title . . .'
                '. tech-nav tech-title image image'
                '. tech-nav content image image';
        }
    }
}

.technology-heading {
    padding-inline: var(--content-padding);
    grid-area: title;
    justify-self: start;

    & span {
        opacity: 0.25;
        font-weight: 700;
        margin-right: 1rem;
    }

    @media (max-width: 35em) {
        justify-self: center;
    }
}

.technology-img {
    grid-area: image;
    min-width: 100vw;

    place-items: center;
    display: inline-flex;
    justify-content: center;
    align-items: end;

    & img {
        object-fit: fill;
    }

    @media (min-width: 61em) {
        justify-self: right;
        min-width: min(527px, 35vw);

        & img {
            width: 100%;
        }
    }
}

.tech-nav {
    grid-area: tech-nav;
    display: flex;
    gap: 2rem;


    & button {
        border-radius: 50%;
        aspect-ratio: 1;
        width: 2.5em;
        background-color: transparent;
        border: 1px solid hsl(var(--white)/ 0.25);
        color: hsl(var(--white));
        transition: border-color 175ms ease-in-out, background-color 175ms ease-in-out;
        cursor: pointer;


        &[aria-selected="true"] {
            background-color: hsl(var(--white));
            color: hsl(var(--blackish-blue));
        }

        &[aria-selected="false"]:hover {
            border-color: hsl(var(--white));
        }

        &:nth-child(1) {
            animation: bounce-in-fwd 1.1s both;
        }

        &:nth-child(2) {
            animation: bounce-in-fwd 1.1s both;
            animation-delay: 150ms;
        }
        
        &:nth-child(3) {
            animation: bounce-in-fwd 1.1s both;
            animation-delay: 300ms;
        }
    }

    @media (min-width: 61em) {
        flex-direction: column;
        justify-self: start;
    }
}

.tech-title {
    grid-area: tech-title;

    @media (min-width: 61em) {
        grid-area: tech-title / tech-nav / tech-title / tech-title;
        justify-self: start;
        align-self: end;
        margin: 0 8rem;
        min-width: max-content;
        text-align: start;
    }

    & h2,
    h3 {
        text-transform: uppercase;
        padding-block: 0.5rem;
    }

    & h2 {
        letter-spacing: 0.15rem;
    }
}

.tech-info {
    min-width: min(50ch, 20vw);
    grid-area: content;
    max-width: 90vw;

    @media (min-width: 61em) {
        justify-self: start;
        align-self: start;
        text-wrap: balance;
        text-align: left;
        margin: 0 8rem;
        grid-area: content / tech-nav / content / content;

        max-width: 80ch;
    }

}

/****** Utility Classes ******/
.Heading1 {
    font-family: "Bellefair";
    /* font-size: min(150px, 14vw); */
    font-size: clamp(80px, 13vw + 0.5rem, 150px);
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.Heading2 {
    font-family: "Bellefair";
    font-size: clamp(3.5rem, 2.8325rem + 2.8479vw, 6.25rem);
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.Heading3 {
    font-family: "Bellefair";
    font-size: clamp(1.5rem, 1.0146rem + 2.0712vw, 3.5rem);
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-transform: uppercase;
}

.Heading4 {
    font-family: "Bellefair";
    font-size: clamp(1rem, 0.7573rem + 1.0356vw, 2rem);
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-transform: uppercase;
}

.Heading5 {
    color: hsl(var(--light-blue));
    font-family: "Barlow Condensed";
    /* font-size: 28px; */
    font-size: clamp(16px, 1.5vw, 28px);
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 4.725px;
}

.Subheading1 {
    font-family: "Bellefair";
    font-size: 28px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-transform: uppercase;
}

.Subheading2 {
    font-family: "Barlow Condensed";
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 2.362px;
    text-transform: uppercase;
}

.NavText {
    font-family: "Barlow Condensed";
    font-size: clamp(0.875rem, 0.8447rem + 0.1294vw, 1rem);
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 2.7px;
}

.BodyText {
    font-family: "Barlow";
    /* font-size: 18px; */
    font-size: clamp(15px, 1.5vw, 18px);
    font-style: normal;
    font-weight: 400;
    line-height: 32px;
    color: hsl(var(--light-blue));

    @media (max-width: 35em) {
        line-height: 25px;
    }
}

.color-blue {
    color: hsl(var(--light-blue));
}

.color-white {
    color: hsl(var(--white));
}

.color-black {
    color: hsl(var(--blackish-blue));
}

.sr-only {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    border: 0;
}

.cap {
    text-transform: uppercase;
}

.flex {
    display: flex;
}

.flow>*:where(:not(:first-child)) {
    margin-top: var(--flow-space, 1rem);
}

@font-face {
    font-family: "Bellefair";
    src: url(Resources/Bellefair-Regular.ttf);
}

@font-face {
    font-family: "Barlow";
    src: url(Resources/Barlow-Regular.ttf);
}

@font-face {
    font-family: "Barlow Condensed";
    src: url(Resources/BarlowCondensed-Regular.ttf);
}

@media (prefers-reduced-motion: reduce) {

    *,
    *::before,
    *::after {
        animation-duration: 0.01ms !important;
        animation-iteration-count: 1 !important;
        transition-duration: 0.01ms !important;
        scroll-behavior: auto !important;
    }
}

/****** Animations ******/

.fade-out {
    animation: fadeOut 0.2s ease-out;
}

.pop-in {
    animation: popIn 0.3s cubic-bezier(.86,.88,.39,.93) forwards;
}

.slide-in-left {
    animation: slide-in-left 0.9s cubic-bezier(0.230, 1.000, 0.320, 1.000) both;
}

.roll-in-left {
    animation: roll-in-left 1.2s cubic-bezier(.6,1.25,.6,1.05) alternate;
}

.slide-in-right {
    animation: slide-in-right 900ms cubic-bezier(0.230, 1.000, 0.320, 1.000) both;
}

.slide-in-bottom {
    animation: slide-in-bottom 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}

.slide-in-elliptic-left-fwd {
    animation: slide-in-elliptic-left-fwd 1s cubic-bezier(0.250, 0.460, 0.450, 0.940) forwards;
}

.bounce-in-fwd {
    animation: bounce-in-fwd 1.1s both;
}

@keyframes popIn {
    0% {
        opacity: 0;
        transform: translateX(-2rem);
    }

    50% {
        opacity: 1;
    }

    100% {
        transform: translateX(0);
    }
}

@keyframes fadeOut {
    0% {
        opacity: 1;
    }

    100% {
        opacity: 0;
    }
}

@keyframes slide-in-left {
    0% {
        transform: translateX(-1000px) scaleX(2.5) scaleY(0.2);
        transform-origin: 100% 50%;
        filter: blur(40px);
        opacity: 0;
    }

    100% {
        transform: translateX(0) scaleY(1) scaleX(1);
        transform-origin: 50% 50%;
        filter: blur(0);
        opacity: 1;
    }
}

@keyframes slide-in-right {
    0% {
        transform: translateX(1000px) scaleX(2.5) scaleY(0.2);
        transform-origin: 0% 50%;
        filter: blur(40px);
        opacity: 0;
    }

    100% {
        transform: translateX(0) scaleY(1) scaleX(1);
        transform-origin: 50% 50%;
        filter: blur(0);
        opacity: 1;
    }
}

@keyframes roll-in-left {
    0% {
        transform: translateX(-800px) rotate(-290deg);
        opacity: 0;
    }

    100% {
        transform: translateX(0) rotate(0deg);
        opacity: 1;
    }
}

@keyframes slide-in-bottom {
    0% {
        transform: translateY(1000px);
        opacity: 0;
    }

    100% {
        transform: translateY(0);
        opacity: 1;
    }
}

@keyframes slide-in-elliptic-left-fwd {
    0% {
        transform: translateX(-800px) rotateY(30deg) scale(0);
        transform-origin: -100% 50%;
        opacity: 0;
    }

    100% {
        transform: translateX(0) rotateY(0) scale(1);
        transform-origin: 1800px 50%;
        opacity: 1;
    }
}

@keyframes bounce-in-fwd {
    0% {
        transform: scale(0);
        animation-timing-function: ease-in;
        opacity: 0;
    }

    38% {
        transform: scale(1);
        animation-timing-function: ease-out;
        opacity: 1;
    }

    55% {
        transform: scale(0.7);
        animation-timing-function: ease-in;
    }

    72% {
        transform: scale(1);
        animation-timing-function: ease-out;
    }

    81% {
        transform: scale(0.84);
        animation-timing-function: ease-in;
    }

    89% {
        transform: scale(1);
        animation-timing-function: ease-out;
    }

    95% {
        transform: scale(0.95);
        animation-timing-function: ease-in;
    }

    100% {
        transform: scale(1);
        animation-timing-function: ease-out;
    }
}